<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.zhaiyiming.examsearcher"
        versionCode = "12" 
        version     = "1.0.2" >

    <!-- versionCode is optional and Android only -->

    <name>题库搜索大师</name>
    <icon src="icon.png" />
    
    <description>
        考试题库搜索大师：
        2014年度柜员“三基本”培训验证考试题库搜索
    </description>

    <author href="http://zhaiyiming.com" email="imym.z@foxmail.com">
        翟一鸣
    </author>
    
    <content src="index.html" />
    <access origin="*" />
    <preference name="Fullscreen" value="false" />
</widget>